.bms-home {
  padding:20px;
  text-align: center;
}
.bms-home .logo{
  display: block;
  margin:0 auto;
}
.bms-home .title{
  font-size:2em;
  color:#03ccbb;
}
.bms-home .dashang{
  padding-top: 50px;
}
.bms-home .dashang span{
  color:#f50;
  font-size:1em;
  line-height: 2em;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.bms-home .dashang img{
  float: left;
  width:40%;
  margin:0 5%;
}