.bms-start{
  padding:20px;
  line-height:1.5;
}
.bms-start .one-module{
  margin-bottom: 30px;
}
.bms-start .one-module>header{
  font-size:1.5em;
  border-bottom: 1px solid #eee;
}
.bms-start .one-module>p{
  margin-bottom: 5px;
}
.bms-start .one-module>span{
  display: block;
  width:90%;
  margin:0 auto;
  background-color: #bbb;
  padding:8px 10px;
  border-radius: 5px;
}