/** color **/
$text-color:#6c6c6c;
$gray-border-color:#cecece;

$bg-color-sky:#a5c8f0;
$shadow-color-sky:#7a98a9;
$hover-bg-color-sky:#75b3f9;
$active-bg-color-sky:#3172dc;


$bg-color-sun:#fadd7f;
$shadow-color-sun:#ddb151;
$hover-bg-color-sun:#ffd756;
$active-bg-color-sun:#eaa91d;


$bg-color-grass:#60c897;
$shadow-color-grass:#729774;
$hover-bg-color-grass:#49c086;
$active-bg-color-grass:#20774d;


$bg-color-red:#e36b77;
$shadow-color-red:#a44944;
$hover-bg-color-red:#de5765;
$active-bg-color-red:#99272f;
